* {
	padding: 0;
	margin: 0;
	outline: 0;
	border: 0;
}
body {
	padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #4F6000;
}
.item-td {
	vertical-align: middle !important;
}
.cellEditing .input-group {
	width: 100%;
}
.cellEditing .row {
	margin: 0;
	padding: 0;
}
div .row {
	margin: 0;
}